body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
	margin:0;
	background-color:gray;
}
h1, h2 {
    color: blue;
}
h1 { 
    font-size: 250%;
    text-align: center;
	margin:0;
}
h2 { 
    font-size: 150%;
	margin-bottom:0; 
}
ul {
    line-height: 1.4;
	margin-top:0.25em;
}
a:hover {
	font-weight: bold;
}
.copyright {
    color: gray;
    font-size: 90%;
    text-align: right;
	margin: 0;
}

#page{width:500px;
	  margin: 0 auto;
	  padding:15px;
	  background-color:#FFFFFF;
	  }
#header{border-bottom:2px solid gray;
		margin-bottom:1.4em;
		}
#footer{margin-top:0.5em;
		border-top:2px solid gray;
		padding-top:0.7em;
		}